div.experience-full
            div#experience.container
                h2.section-heading Experiences
                hr
                h3.sub-heading Education
                div.experiences
                    each role, i in resume.educationTimeline
                        div.experience.row
                            div.four.columns
                                h4 #{role.company}
                                p.experience-duration #{role.start} - #{role.end}
                            div.eight.columns
                                p
                                    strong #{role.position}
                                    span.experience-description #{role.description}
                                    span.experience-information
                                        i.fa.fa-map-marker
                                            span.experience-location #{role.location}
                                        i.fa.fa-external-link
                                            span.experience-link
                                                a(href='#{role.url}', target='_blank') #{role.url}
                hr
                h3.sub-heading Careers
                div.experiences
                    each role, i in resume.workTimeline
                        div.experience.row
                            div.four.columns
                                h4 #{role.company}
                                p.experience-duration #{role.start} - #{role.end}
                            div.eight.columns
                                p
                                    strong #{role.position}
                                    span.experience-description #{role.description}
                                    span.experience-information
                                        i.fa.fa-map-marker
                                            span.experience-location #{role.location}
                                        i.fa.fa-external-link
                                            span.experience-link
                                                a(href='#{role.url}', target='_blank') #{role.url}
        div.abilities-background
            div#abilities.container
                h2.section-heading Abilities
                hr
                h3.sub-heading Skills
                div.row
                    div.one-half.column
                        ul
                            each skill, i in resume.skillsLeft
                                li
                                    span.skill-title #{skill.name}
                                    span.skill-level
                                        svg(width="70", height="20" )
                                            use(xlink:href="#shape-#{skill.level}-star")
                    div.one-half.column
                        ul
                            each skill, i in resume.skillsRight
                                li
                                    span.skill-title #{skill.name}
                                    span.skill-level
                                        svg(width="70", height="20" )
                                            use(xlink:href="#shape-#{skill.level}-star")
                div.project-source.text-center
                    p This project is powered by JADE, GRUNT and LESS
                    a.button.button-primary(href='http://github.com/mtb2112/resume', title="View on GitHub", target='_blank') View on Github
                hr
                h3.sub-heading Tools
                div.row
                    div.one-half.column
                        ul
                            each tool, i in resume.toolsLeft
                                li
                                    span.skill-title #{tool.name}
                                    span.skill-level
                                        svg(width="70", height="20" )
                                            use(xlink:href="#shape-#{tool.level}-star")
                    div.one-half.column
                        ul
                            each tool, i in resume.toolsRight
                                li
                                    span.skill-title #{tool.name}
                                    span.skill-level
                                        svg(width="70", height="20" )
                                            use(xlink:href="#shape-#{tool.level}-star")