doctype html
html
    head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(http-equiv='content-script-type', content='text/javascript')
        meta(http-equiv='content-style-type', content='text/css')
        meta(http-equiv='content-language', content='en')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(name='author' content='Paul Guardino')
        meta(name='description', content="I'm Paul Guardino.  A web developer with a concentration in front-end development.")
        meta(name='keywords', content='Paul Guardino, Interactive Resume, Web Developer, Resume, HTML, CSS, PHP, Grunt, Programmer, Philadelphia, Phoenixville')
        meta(name='robots', content="index, follow")
        meta(name='revisit-after', content='14 days')
        title #{resume.user.title}
        - var cssRoot = 'css';
        - var jsRoot = 'js';
        link(rel='stylesheet', href='#{cssRoot}/bootstrap.min.css')
        link(rel='stylesheet', href='#{cssRoot}/global.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='shortcut icon', href="favicon.ico", type='image/x-icon')
        link(rel='icon', href="favicon.ico", type='image/x-icon')
    body.global(data-spy="scroll", data-target=".navbar")
        include ../../images/svg-defs.svg
        div#top.profile-banner(data-position='center right')
            div.container
                h1.author #{resume.user.name}
                p.sub #{resume.user.resumeTitle}
            div.photo-overlay
            a.scroll-down.fa(href='#profile')
                i.fa.fa-level-down
        nav.navbar.navbar-default#navbar-example(role='navigation')
            div.navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    i.fa.fa-bars
            div.main-nav.navbar-collapse.navbar-ex1-collapse.collapse
                ul.nav.navbar-nav
                    each section, i in resume.sections
                        li.menu-item
                            a.menu-link(href='##{section.name}') #{section.name}
        div#profile.container
            h2.section-heading Profile
            p.sub
            hr
            div.row
                div.col-md-4
                    h3.sub-heading About Me
                    p #{resume.user.description}
                div.col-md-4.text-center
                    div.profile-photo-wrap
                        img.profile-photo(src='images/guardinopaul.jpg', alt='Paul Guardino')
                div.col-md-4
                    h3.sub-heading Details
                    p
                        strong Name:
                        br
                        | #{resume.user.name}
                        br
                        strong Age:
                        br
                        span.age
                        br
                        strong Location:
                        br
                        |#{resume.user.location}
                        br
                        a.resume-link(href="pdf/guardinoresume.pdf", title="Download Resume", target="_blank")
                            i.fa.fa-file-pdf-o
                                span Download Resume
        div.experience-full
            div#experience.container
                h2.section-heading Experiences
                hr
                h3.sub-heading Education
                div.experiences
                    each role, i in resume.educationTimeline
                        div.experience.row
                            div.col-md-4
                                h4 #{role.company}
                                p.experience-duration #{role.start} - #{role.end}
                            div.col-md-8
                                p
                                    strong #{role.position}
                                    span.experience-description #{role.description}
                                    span.experience-information
                                        i.fa.fa-map-marker
                                            span.experience-location #{role.location}
                                    span.experience-link
                                        a(href='#{role.url}', target='_blank')
                                            i.fa.fa-external-link
                                                span #{role.url}
                hr
                h3.sub-heading Careers
                div.experiences
                    each role, i in resume.workTimeline
                        div.experience.row
                            div.col-md-4
                                h4 #{role.company}
                                p.experience-duration #{role.start} - #{role.end}
                            div.col-md-8
                                p
                                    strong #{role.position}
                                    span.experience-description #{role.description}
                                    span.experience-information
                                        i.fa.fa-map-marker
                                            span.experience-location #{role.location}
                                    span.experience-link
                                        a(href='#{role.url}', target='_blank')
                                            i.fa.fa-external-link
                                                span #{role.url}
        div.abilities-background
            div#abilities.container
                h2.section-heading Abilities
                hr
                h3.sub-heading Skills
                div.row
                    div.col-md-6
                        ul
                            each skill, i in resume.skillsLeft
                                li
                                    span.skill-title #{skill.name}
                                    span.skill-level
                                        svg(width="70", height="20" )
                                            use(xlink:href="#shape-#{skill.level}-star")
                    div.col-md-6
                        ul
                            each skill, i in resume.skillsRight
                                li
                                    span.skill-title #{skill.name}
                                    span.skill-level
                                        svg(width="70", height="20" )
                                            use(xlink:href="#shape-#{skill.level}-star")
                div.project-source.text-center
                    p.project-tools This project is powered by JADE, GRUNT and LESS
                    a.button.button-primary(href='http://github.com/mtb2112/resume', title="View on GitHub", target='_blank') View on Github
                hr
                h3.sub-heading Tools
                div.row
                    div.col-md-6
                        ul
                            each tool, i in resume.toolsLeft
                                li
                                    span.skill-title #{tool.name}
                                    span.skill-level
                                        svg(width="70", height="20" )
                                            use(xlink:href="#shape-#{tool.level}-star")
                    div.col-md-6
                        ul
                            each tool, i in resume.toolsRight
                                li
                                    span.skill-title #{tool.name}
                                    span.skill-level
                                        svg(width="70", height="20" )
                                            use(xlink:href="#shape-#{tool.level}-star")
        div.contact-background
            div#contact.container
                h2.section-heading Contact
                hr
                div.row
                    div.col-md-6
                        ul
                            li
                                a(href='http://www.linkedin.com/in/paulguardino', title='Linkedin', target='_blank')
                                    i.fa.fa-linkedin-square
                                    span LinkedIn
                            li
                                a(href='http://github.com/mtb2112', title='GitHub', target='_blank')
                                    i.fa.fa-github
                                    span GitHub
                    div.col-md-6
                        ul
                            li
                                a(href='mailto:guardinopaul@gmail.com', title='E-mail')
                                    i.fa.fa-reply
                                    span guardinopaul@gmail.com
                            li
                                a(href='http://www.instagram.com/guardinopaul', title='Instagram', target='_blank')
                                    i.fa.fa-instagram
                                    span Instagram
                hr
        script(type='text/javascript', src='https://code.jquery.com/jquery-1.10.2.min.js')
        script(type='text/javascript', src='#{jsRoot}/custom.min.js')
        script(type='text/javascript', src='#{jsRoot}/bootstrap.min.js')